.dark-theme {
          --primary-main: #38aff1;
  --primary-on-main: #211b1e;
  --primary-container: #2d282b;
  --primary-container-variant: #3a3537;
  --primary-on-container: #b4b2b3;
  --secondary-main: #211b1e;
  --secondary-on-main: #f5fbfe;
  --secondary-container: #2d282b;
  --secondary-container-variant: #5e5a5c;
  --secondary-on-container: #f5fbfe;
  --error-main: #e06463;
  --error-on-main: #211b1e;
  --error-container: #471416;
  --error-container-variant: #5c1a1c;
  --error-on-container: #efb1b1;
  --warning-main: #fbd747;
  --warning-on-main: #211b1e;
  --warning-container: #513f0c;
  --warning-container-variant: #69530e;
  --warning-on-container: #fdeba3;
  --success-main: #00bf8c;
  --success-on-main: #211b1e;
  --success-container: #063b2e;
  --success-container-variant: #054e3b;
  --success-on-container: #99e5d1;
  --surface-main: #211b1e;
  --surface-on-main: #e5e5e5;
  --surface-variant: #464244;
  --surface-on-variant: #b4b2b3;
  --background-main: #090306;
  --background-on-main: #908d8e;
  --outline-main: #777476;
  --outline-variant: #dad9d9;
  --outline-primary: #079cee;
  --outline-success: #00bf8c;
  --outline-warning: #facd1a;
  --outline-error: #d93e3d;
  --disabled-main: #3a3537;
  --disabled-on-main: #908d8e;
  --tertiary-main: #ae7ad0;
  --tertiary-on-main: #211b1e;
  --tertiary-container: #341c3f;
  --tertiary-container-variant: #432552;
  --tertiary-on-container: #ccace2;
      }