.light-theme {
          --primary-main: #076ea8;
  --primary-on-main: #ffffff;
  --primary-container: #e6f5fd;
  --primary-container-variant: #9bd7f8;
  --primary-on-container: #084f7a;
  --secondary-main: #084f7a;
  --secondary-on-main: #ffffff;
  --secondary-container: #082134;
  --secondary-container-variant: #08304b;
  --secondary-on-container: #ffffff;
  --tertiary-main: #8b50b1;
  --tertiary-on-main: #ffffff;
  --tertiary-container: #512e65;
  --tertiary-container-variant: #341c3f;
  --tertiary-on-container: #ffffff;
  --error-main: #c43837;
  --error-on-main: #ffffff;
  --error-container: #fdf7f7;
  --error-container-variant: #fbebeb;
  --error-on-container: #320e11;
  --warning-main: #b19014;
  --warning-on-main: #ffffff;
  --warning-container: #fefcf1;
  --warning-container-variant: #fefae8;
  --warning-on-container: #392b0a;
  --success-main: #028663;
  --success-on-main: #ffffff;
  --success-container: #f4fcfa;
  --success-container-variant: #e5f8f3;
  --success-on-container: #072820;
  --surface-main: #ffffff;
  --surface-on-main: #090306;
  --surface-variant: #e5e5e5;
  --surface-on-variant: #464244;
  --background-main: #f9f9f9;
  --background-on-main: #6b6769;
  --outline-main: #f2f2f2;
  --outline-variant: #e5e5e5;
  --outline-primary: #079cee;
  --outline-warning: #facd1a;
  --outline-error: #efb1b1;
  --outline-success: #99e5d1;
  --disabled-main: #f2f2f2;
  --disabled-on-main: #6b6769;
      }